body{
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  
  margin:0;
  
  
}
.header-image{
  width:100%;
  height:100vh;
  position:relative;
  background-image: url(images/donation9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  
}

.header-text {
  text-align: center;
  font-size: 30px;
  font-weight: 700; 
  position: relative;
  color: white;
  background-color: rgba(0,0,0,0.6);
  padding: 180px;
  
}
.link-button{
  text-decoration: none;
  padding:20px;
  background-color:#ff5959;
  color:white;
  border-radius: 10px;
}
.donate-today{
  text-align: center;
  font-size: 25px;
}
.container{
  width: 150px;
  height: 140px;
  float: left;
  left:430px;
  margin:20px;
  background-color: #fafafa;
  position: relative;
  align-items: center;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.container h1{
  color:#707070;
  margin:40px;
  font-size: 30px;
  position: absolute;
  text-align: center;
  padding-right: 15px;
}
#orange{
  border:2px solid #ff5959;
}

#orange h1{
  color:#ff5959;
}
.input{
  font-size: 20px;
  align-items: center;
  padding-left: 860px;
}
hr{
  margin-left: 24%;
  margin-right: 28.5%;
  position: relative;
  margin-bottom: 50px;
  
}
.donate-now{
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: #ff5959;
  color:white;
  padding:20px;
  top:10px;
  left:43%;
  right: 80%;
  border-radius: 10px;
  margin-bottom: 100px;
  position: relative;
  padding-bottom: 10px;
  
}