body{
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  
  margin:0;
  
  
}
.header-image{
  width:100%;
  height:100vh;
  position:relative;
  background-image: url(images/donation9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.header-text {
  text-align: center;
  font-size: 30px;
  font-weight: 700; 
  position: relative;
  color: white;
  background-color: rgba(0,0,0,0.6);
  padding: 180px;
  
}
.link-button{
  text-decoration: none;
  padding:20px;
  background-color:#ff5959;
  color:white;
  border-radius: 10px;
}
.donate-today{
  text-align: center;
  font-size: 25px;
}
.container{
  width: 150px;
  height: 140px;
  float: left;
  left:430px;
  margin:20px;
  background-color: #fafafa;
  position: relative;
  align-items: center;
  border-radius: 5px;
}
.container h1{
  color:#707070;
  margin:40px;
  font-size: 30px;
  position: absolute;
  text-align: center;
  padding-right: 10px;
}
#orange{
  border:2px solid #ff5959;
}

#orange h1{
  color:#ff5959;
}
.type-box{
  width: 150px;
  height:150px;
  margin-bottom: auto;
  padding-left: 800px;
  padding-top: 10px;
  border: 10px sold grey;
  position:relative;
  align-items: center;
  border-style: none;
}
hr{
  width:600px;
  color: #fafafa;
  align-items: center;
  position: relative;
  padding-left:100px;
}
